{% extends "@admin/layout.twig" %}
{% block body %}

<p class="text-right">
    <a href="{{ path('admin.product.create') }}" class="btn btn-primary">
        Ajouter un produit
    </a>
</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nom</td>
                <td>Prix</td>
                <td>Category</td>
                <td>Quantité</td>
            </tr>
        </thead>
        <tbody>
           {%  for item in items %}
               <tr>
                   <td>{{ item.id }}</td>
                   <td>{{ item.name }}</td>
                   <td>{{ item.price }}</td>
                   <td>{{ item.category }}</td>
                   <td>{{ item.quantity }}</td>
                   <td>
                       <a href="{{ path('admin.product.edit',{id: item.id}) }}" class="btn btn-primary">Editer</a>
                       <form style="display: inline" action="{{ path('admin.product.delete',{id: item.id}) }}" method="POST" onsubmit="return confirm('Est vous sure');">
                           <input type="hidden" name="_method" value="DELETE">
                           <button class="btn btn-danger">Supprimer</button>
                       </form>
                   </td>

               </tr>

            {%  endfor %}
        </tbody>
    </table>


{% endblock %}