{% extends "layout.twig" %}
{% block body %}
    <br>    <br>    <br>    <br>    <br>

    <div class="container">
        <h1>{{ item.id }}</h1>
        {{ item.price }}<br>
        {{ item.endDate | ago }}<br>
        {{ item.state }}<br>
        {{ item.description  }}<br>

    </div>

{% endblock %}